@each $key, $val in $colors {
    // class="text-colorName"
    .text-#{$key}{
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }


    @for $i from 1 through 9 {
        .text-#{$key}-lighten-#{$i} {
            color: mix(white, $val,$i * 10);
        }
        .bg-#{$key}-lighten-#{$i} {
            background-color: mix(white, $val,$i * 10);
        }
        .text-#{$key}-darken-#{$i} {
            color: mix(black, $val,$i * 10);
        }
        .bg-#{$key}-darken-#{$i} {
            background-color: mix(black, $val,$i * 10);
        }
    }
}