// ============
// FLEX
// ============

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
}
@mixin flexAround {
    display: flex;
    justify-content: space-around;
}
@mixin flexEvenly {
    display: flex;
    justify-content: space-evenly;
}

// ============
// FLEX DIRECTION
// ============
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexColumnReverse {
    display: flex;
    flex-direction: column-reverse;
}

@mixin justifyDirection($direction) {
    justify-content: $direction;
}
@mixin alignDirection($direction) {
    align-items: $direction;
}
// ============
// FLEX with DIRECTION
// ============
// @mixin flexBetween($direction) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: $direction;
// }
// @mixin flexCenter($direction) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
// }
// @mixin flexAround($direction) {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     flex-direction: $direction;
// }
// @mixin flexEvenly($direction) {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     flex-direction: $direction;
// }