@mixin h100 {
    height: 100%;
}
@mixin h95 {
    height: 95%;
}
@mixin h90 {
    height: 90%;
}
@mixin h85 {
    height: 85%;
}
@mixin h80 {
    height: 80%;
}
@mixin h75 {
    height: 75%;
}
@mixin h70 {
    height: 70%;
}
@mixin h65 {
    height: 65%;
}
@mixin h60 {
    height: 60%;
}
@mixin h55 {
    height: 55%;
}
@mixin h50 {
    height: 50%;
}
@mixin h45 {
    height: 45%;
}
@mixin h40 {
    height: 40;
}
@mixin h35 {
    height: 35%;
}
@mixin h30 {
    height: 30%;
}
@mixin h25 {
    height: 25%;
}
@mixin h20 {
    height: 20%;
}
@mixin h15 {
    height: 15%;
}
@mixin h10 {
    height: 10%;
}
@mixin h5 {
    height: 5%;
}