@mixin p100 {
    padding: 100%;
}
@mixin p95 {
    padding: 95%;
}
@mixin p90 {
    padding: 90%;
}
@mixin p85 {
    padding: 85%;
}
@mixin p80 {
    padding: 80%;
}
@mixin p75 {
    padding: 75%;
}
@mixin p70 {
    padding: 70%;
}
@mixin p65 {
    padding: 65%;
}
@mixin p60 {
    padding: 60%;
}
@mixin p55 {
    padding: 55%;
}
@mixin p50 {
    padding: 50%;
}
@mixin p45 {
    padding: 45%;
}
@mixin p40 {
    padding: 40;
}
@mixin p35 {
    padding: 35%;
}
@mixin p30 {
    padding: 30%;
}
@mixin p25 {
    padding: 25%;
}
@mixin p20 {
    padding: 20%;
}
@mixin p15 {
    padding: 15%;
}
@mixin p10 {
    padding: 10%;
}
@mixin p5 {
    padding: 5%;
}