@mixin w100 {
    width: 100%;
}
@mixin w95 {
    width: 95%;
}
@mixin w90 {
    width: 90%;
}
@mixin w85 {
    width: 85%;
}
@mixin w80 {
    width: 80%;
}
@mixin w75 {
    width: 75%;
}
@mixin w70 {
    width: 70%;
}
@mixin w65 {
    width: 65%;
}
@mixin w60 {
    width: 60%;
}
@mixin w55 {
    width: 55%;
}
@mixin w50 {
    width: 50%;
}
@mixin w45 {
    width: 45%;
}
@mixin w40 {
    width: 40%;
}
@mixin w35 {
    width: 35%;
}
@mixin w30 {
    width: 30%;
}
@mixin w25 {
    width: 25%;
}
@mixin w20 {
    width: 20%;
}
@mixin w15 {
    width: 15%;
}
@mixin w10 {
    width: 10%;
}
@mixin w5 {
    width: 5%;
}