@mixin wh100 {
    height: 100%;
    width: 100%;
}
@mixin vwh100 {
    height: 100vh;
    width: 100vw;
}

@mixin wh95 {
    height: 95%;
    width: 95%;
}
@mixin vwh95 {
    height: 95vh;
    width: 95vw;
}

@mixin wh90 {
    height: 90%;
    width: 90%;
}
@mixin vwh90 {
    height: 90vh;
    width: 90vw;
}

@mixin wh85 {
    height: 85%;
    width: 85%;
}
@mixin vwh85 {
    height: 85vh;
    width: 85vw;
}

@mixin wh80 {
    height: 80%;
    width: 80%;
}
@mixin vwh80 {
    height: 80vh;
    width: 80vw;
}

@mixin wh75 {
    height: 75%;
    width: 75%;
}
@mixin vwh75 {
    height: 75vh;
    width: 75vw;
}

@mixin wh70 {
    height: 70%;
    width: 70%;
}
@mixin vwh70 {
    height: 70vh;
    width: 70vw;
}

@mixin wh65 {
    height: 65%;
    width: 65%;
}
@mixin vwh65 {
    height: 65vh;
    width: 65vw;
}

@mixin wh60 {
    height: 60%;
    width: 60%;
}
@mixin vwh60 {
    height: 60vh;
    width: 60vw;
}

@mixin wh55 {
    height: 55%;
    width: 55%;
}
@mixin vwh55 {
    height: 55vh;
    width: 55vw;
}

@mixin wh50 {
    height: 50%;
    width: 50%;
}
@mixin vwh50 {
    height: 50vh;
    width: 50vw;
}

@mixin wh45 {
    height: 45%;
    width: 45%;
}
@mixin vwh45 {
    height: 45vh;
    width: 45vw;
}

@mixin wh40 {
    height: 40%;
    width: 40%;
}
@mixin vwh40 {
    height: 40vh;
    width: 40vw;
}

@mixin wh35 {
    height: 35%;
    width: 35%;
}
@mixin vwh35 {
    height: 35vh;
    width: 35vw;
}

@mixin wh30 {
    height: 30%;
    width: 30%;
}
@mixin vwh30 {
    height: 30vh;
    width: 30vw;
}

@mixin wh25 {
    height: 25%;
    width: 25%;
}
@mixin vwh25 {
    height: 25vh;
    width: 25vw;
}

@mixin wh20 {
    height: 20%;
    width: 20%;
}
@mixin vwh20 {
    height: 20vh;
    width: 20vw;
}

@mixin wh15 {
    height: 15%;
    width: 15%;
}
@mixin vwh15 {
    height: 15vh;
    width: 15vw;
}

@mixin wh10 {
    height: 10%;
    width: 10%;
}
@mixin vwh10 {
    height: 10vh;
    width: 10vw;
}

@mixin wh5 {
    height: 5%;
    width: 5%;
}
@mixin vwh5 {
    height: 5vh;
    width: 5vw;
}