@mixin button($bg-color) {
    border: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 2%;
    border-radius: 10px;
}


@each $key, $val in $colors {

    .btn-#{$key} {
        @include button($val);
        background-color: $val;
        color: white;
        &:hover {
            background-color: lighten($val, 5);
        }
        &:active {
            background-color: darken($val, 1);
        }
    }

    .btn-outline-#{$key} {
        @include button($val);
        border: $val 1px solid;
        background-color: white;
        color: $val;
        &:hover {
            background-color: lighten($val, 5);
            color: white;
        }
        &:active {
            background-color: darken($val, 1);
        }
    }
}